__pycache__/
*.py[cod]
*.egg-info/
.mypy_cache/
.pyright/
.ruff_cache/
.pytest_cache/
.venv/
dist/*
!dist/SHA256SUMS
!dist/expra_connect-0.4.0.0-py3-none-any.whl
!dist/expra_connect-0.6.0.0-py3-none-any.whl
!dist/expra_connect-0.6.1.0-py3-none-any.whl
!dist/expra_connect-0.7.0.0-py3-none-any.whl
!dist/expra_connect-0.7.0.1-py3-none-any.whl
build/
*.log
.opencode/
.claude/
**/AGENTS.md
